<div id="employeeH1">
<h1 >ADD Employee</h1>
</div>
<div id="addEmployeeForm">
<form action="/admin/addEmployees" method="POST">
    <input type="text" name="name" required placeholder="Name"  id="">
    <input type="email" name="email" required placeholder="Email"  id="">
    <input type="text" name="adminId" required placeholder="ID NO"  id="">
    <input type="password" name="password" required placeholder="password"  id="">
    <input type="password" name="conform_password" required placeholder="conform password"  id="">
    <input id="color" type="submit" value="ADD" id="">
</form>

</div>