
<div class="containerForgotPassword">
    <h1>Welcome To Forgot Password</h1>
    <form action="/forgotPasswordRecover" method="POST">
        <input type="text" name="adminId" placeholder="Enter ID No">
       <div id="or">
        <h2 id="h">OR</h2>
       </div>
        <input type="email" name="email" placeholder="Enter Email">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="conform_password" placeholder="Confirm New Password" required>
        <input style="cursor: pointer; color: rgb(80, 255, 246);border: none; background: #4592e9;" type="submit" value="Reset">
    </form>
</div>

<script>
   
   
   let divA = document.getElementById('or');
   let h = document.getElementById('h');

// Function to handle the click on the 'divA' element
function handleClickDiv(event) {
    h.innerHTML = "You Can Use here Email Or ID No";
    h.classList.add('redBackground');
    h.classList.remove('yellowBackground');
    event.stopPropagation();
}

// Function to handle click on the document body
function handleClickBody() {
    h.innerHTML = "OR";
    h.classList.add('yellowBackground');
    h.classList.remove('redBackground');
}

// Event listeners
divA.addEventListener('click', handleClickDiv);
document.body.addEventListener('click', handleClickBody);
    
</script>