

<h1 style="text-align: center; margin-top: 30px; font-size: 3rem;">
    Welcome To This Page Mr/Ms:
   <span style="color: aqua;"> <%= user.name %></span>
</h1>



<div id="homePage">
<h1 id="homePageH1">
    <marquee behavior="" direction="up" style="color: pink;">
        Welcome To Employee Review System Application
    </marquee>
    <marquee behavior="" direction="left" style="color: gold; font-size: 3rem;">
        Welcome To Employee Review System Application
        <p style="color: chocolate;"><%= user.name %></p>
   </marquee>
    
</h1>
</div>