

<h1>
    Welcome Admin for SecretKey Page
</h1>
<div id="secretPage">

<form action="/secret" method="post">
    
    <input type="text" name="secretKey" placeholder="Company Secret Key" required>
    <input type="submit" value="Submit">
    
</form>

</div>