
<div id="signUpPage">
<h1>Sign Up Only Admin </h1>

<form action="/create" method="POST">
    

    <input type="text" name="name" required placeholder="Name"  id="">
    <input type="email" name="email" required placeholder="Email"  id="">
    <input type="text" name="adminId" required placeholder="Id NO"  id="">
    <input type="password" name="password" required placeholder="password"  id="">
    <input type="password" name="conform_password" required placeholder="conform password"  id="">
    <input style="cursor: pointer; color: aqua; background: rgb(228, 149, 204);" type="submit" value="SignUp" id="">


</form>

</div>