<h1>
    Sign In Now Admin And Employees
</h1>

<div id="signInForm">
<form  id="signIn"  action="/createSession" method="POST">


    <input type="email" name="email" required placeholder="Your Email" id="">
    <input type="password" name="password" required placeholder="Your Password" id="">
    <input id="inp" type="submit" value="SignIn" id="">
   <div id="forgotPasswordDiv">
    <a  id="forgotPassword" href="/forgotPassword">Forgot Password</a>
</div>

</form>

   
</div>