
#secretPage{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secretPage>form{
    height: 200px;
    width: 40%;
    background: rgb(185, 247, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#secretPage>form>input{

    height: 40px;
    width: 90%;
    border:none;
    outline: none;
    margin-top: 20px;

}    